.# macOS metadata
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Filesystem metadata
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*$py.class

# Secrets
.env
code/rag/rag_indexing.log

# Heavy AI Models & TensorRT Engines
*.engine
*.onnx
Code/rag/models_cache/
code/rag/models_cache/
models_cache/

# IDE / Extensions
.continue/
